PORT=8000

MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<app-name>

JWT_SECRET_KEY=<your-jwt-secret-key>
JWT_REFRESH_KEY=<your-jwt-refresh-key>
JWT_SECRET_TIMEOUT=15m
JWT_REFRESH_TIMEOUT=7d

FRONTEND_URL=http://localhost:5173
NODE_ENV=production

RESEND_API_KEY=<your-resend-api-key>
EMAIL_FROM=onboarding@resend.dev

BACKEND_URL=http://localhost:8000

GOOGLE_CLIENT_ID=<your-google-client-id>
GOOGLE_SECRET_KEY=<your-google-client-secret>
GOOGLE_CALLBACK_URL=http://localhost:8000/auth/google/callback

CLOUDINARY_CLOUD_NAME=<your-cloudinary-cloud-name>
CLOUDINARY_API_KEY=<your-cloudinary-api-key>
CLOUDINARY_API_SECRET=<your-cloudinary-api-secret>

REDIS_USERNAME=default
REDIS_PASSWORD=<your-redis-password>
REDIS_HOST=<your-redis-host>
REDIS_PORT=14536